body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);

}
:root{
    --primary-color: #F4F3EF;
}

.container{
    width: 90%;
    margin: auto;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.navbar__logo{
    width: 200px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 0 15px;
    background-color: white;
    margin-top: 30px;
}
.line{
    border-bottom: 1px solid black;
    display: block;
}
.navbar__links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar__element__item a{
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-weight: bold;
    text-align: center;
}
li{
    list-style-type: none;
}
.navbar__element__item:before{
    content: "|";
}
.navbar__element__item:first-of-type:before{
    content: "";
}

.menu{
    display: none;
    width: 50px;
    cursor: pointer;
}
.menu__links{
    display: none;
}

/* SECTION CTA PACIENTES*/

.container2{
    width: 70%;
    margin: auto;
}
.CTA_Pacientes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0;
}
.CTA_Pacientes__image{
    min-width: 400px;
    width: 500px;
    max-width: 600px;
}
.CTA_Pacientes__text{
    display: flex;
    flex-direction: column;
}
.CTA_Pacientes__text__title{
    font-size: 2.7rem;
    margin: 0;
}
.btn{
    margin: 1rem auto;
    background-color: #66615B;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    text-align: center;
    width: 100px;
}
@media only screen and (max-width: 500px){
    .menu{
        display: block;
        z-index: 10;
    }
    .navbar__links{
        display: none;
    }
    .navbar__element__item:first-of-type:before{
        content: "|";
    }
    .menu__links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #E7E4D9;
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        border-radius: 10px;
        transform: translateX(200%);
        transition: transform 0.5s ease-in;
    }


    .CTA_Pacientes{
        flex-direction: column-reverse;
        align-items: center;
    }
    .CTA_Pacientes__image{
        width: 100%;
    }
    .CTA_Pacientes__text {
        text-align: center;
    }
    .container2{
        width: 90%;
    }
}
.hamburger--active{
    transform: translateX(0%);
}
/*/SECTION JACK/*/

.second {
    width: 70%;
    margin: 40px auto;
    background-color: #E7E4D9;
    border-radius: 30px;
    padding: 30px;
}
.title-second {
    text-align: center;
    font-size: 2.5rem;
}
.p-second {
    margin: 20px auto;
    width: 70%;
    text-align: center;
    font-size: 1.4rem;
    color: white;
}
#description {
    width: 70%;
    color: black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-block: 2rem;
    gap: 2rem;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .2rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    background: #66615b;
    color: white;
}

.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#description-card {
    bottom: 40px;
    position: relative;
}
