body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);

}
:root{
    --primary-color: #F4F3EF;
    --secundary-color: #E7E4D9;
    --third-color: #66615B;
    --four-color: #183454;
}

.container{
    width: 90%;
    margin: auto;
}

.navbar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secundary-color);
    width: 100%;
    padding: 1rem;
    border-bottom: 1px dashed black;
}
.navbar__logo{
    width: 200px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 0 15px;
    background-color: white;
}
.line{
    border-bottom: 1px solid black;
    display: block;
}
.navbar__links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar__element__item a{
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-weight: bold;
    text-align: center;
}
li{
    list-style-type: none;
}
.navbar__element__item:before{
    content: "|";
}
.navbar__element__item:first-of-type:before{
    content: "";
}

.menu{
    display: none;
    width: 50px;
    cursor: pointer;
}
.menu__links{
    display: none;
}

/* SECTION CTA PACIENTES*/

.container2{
    width: 70%;
    margin: auto;
}
.CTA_Pacientes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0;
    margin-top: 5rem;
}
.CTA_Pacientes__image{
    min-width: 400px;
    width: 600px;
    max-width: 600px;
    border-radius: 20px;
}
.CTA_Pacientes__text{
    display: flex;
    flex-direction: column;
    gap: 2rem
}
.CTA_Pacientes__text__title{
    font-size: 2.7rem;
    margin: 0;
}
.btn{
    margin: 1rem auto;
    background-color: var(--third-color);
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    text-align: center;
    width: 150px;
}
@media only screen and (max-width: 700px){
    .navbar__logo{
        margin: 0;
    }
    .navbar__btn{
        position: fixed;
        background-color: var(--secundary-color);
        display: flex;
        flex-direction: row;
        top: 0;
        justify-content: space-around;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px dashed black;

    }
    .menu{
        display: block;
        position: fixed;
        width: 50px;
        top: 20px;
        right: 10px;
        z-index: 10;
    }
    .navbar__links{
        display: none;
    }
    .navbar__element__item:first-of-type:before{
        content: "|";
    }
    .menu__links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--secundary-color);
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        border-radius: 10px;
        transform: translateX(200%);
        transition: transform 0.5s ease-in;
    }


    .CTA_Pacientes{
        flex-direction: column-reverse;
        align-items: center;
    }
    .CTA_Pacientes__image{
        width: 100%;
    }
    .CTA_Pacientes__text {
        text-align: center;
    }
    .container2{
        width: 90%;
    }
}
.hamburger--active{
    transform: translateX(0%);
}
/*/SECTION JACK/*/

.second {
    width: 70%;
    margin: 40px auto;
    background-color: var(--secundary-color);
    border-radius: 30px;
    padding: 30px;
}
.title-second {
    text-align: center;
    font-size: 2.5rem;
}
.p-second {
    margin: 20px auto;
    width: 70%;
    text-align: center;
    font-size: 1.4rem;
    color: white;
}
#description {
    width: 70%;
    color: black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-block: 2rem;
    gap: 2rem;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .2rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    background: #66615b;
    color: white;
}

.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.CTA_Psicologos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0;
    margin-top: 5rem;
}
.CTA_Psicologos__image{
    min-width: 400px;
    width: 600px;
    max-width: 600px;
    border-radius: 20px;
}
.CTA_Psicologos__text{
    display: flex;
    flex-direction: column;
    gap: 2rem
}
.CTA_Psicologos__text__title{
    font-size: 2.7rem;
    margin: 0;
}

@media only screen and (max-width: 700px){

    .CTA_Psicologos{
        flex-direction: column-reverse;
        align-items: center;
    }
    .CTA_Psicologos__image{
        width: 100%;
    }
    .CTA_Psicologos__text {
        text-align: center;
    }
}

/*SECTION JACK 2*/

.second2 {
    width: 70%;
    margin: 40px auto;
    background-color: var(--third-color);
    border-radius: 30px;
    padding: 30px;
}
.title-second2 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
}
.p-second2 {
    margin: 20px auto;
    width: 70%;
    text-align: center;
    font-size: 1.4rem;
    color: black;
}
#description2 {
    width: 70%;
    color: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-second2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-block: 2rem;
    gap: 2rem;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.card2 {
    display: flex;
    flex-direction: column;
    width: clamp(15rem, calc(15rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .2rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    background: var(--primary-color);
    color: black;
    padding: 1rem;
}

.card__body2 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/*FAUSTO*/
.prices {
    margin: 5rem auto;
}
.prices__cards{
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-top: 3rem;
}

.price__card__title{
    text-align: center;
    color: white;
    background-color: var(--third-color);
    padding: 1rem;
}
.price__card__title--year{
    text-align: center;
    color: white;
    background-color: var(--four-color);
    padding: 1rem;
}
.price__card__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    width: 300px;
    border:1px solid black;
    border-radius-top: 10px;
}
.price__card__text__price{
    font-size: 50px;
}
.btn1{
    margin-top: 1rem;
    background-color: var(--third-color);
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    text-align: center;
    /*position: absolute;*/

}
.btn2{
    margin-top: 1rem;
    background-color: var(--four-color);
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    text-align: center;
    /*position: absolute;*/
}
@media only screen and (max-width: 700px){

    .prices__cards{
        flex-direction: column;
        align-items: center;
    }
}

/*MARCOS*/
.col-lg-6{
    width: 25% !important;
}
#menu a, button{
    font-size: 18px !important;
    font-weight: 600;

}

#menu a{
    color:#3f3f3f;

}
.galeria{
    font-family:'ope sans';
    color: #fff;

}
.imagen{
    background-color: #fff;
}
.galeria h1{
    text-align:center;
    margin:20px 0 15px 0;
    font-weight:300;
}
.galeria .box{
    margin-left:420px;
    margin-bottom:30px;
    top:50%;
    left:50%;

}
.fa-magnifying-glass{
    background-color: #fff;
    color:#111;


}
.text-search{
    width:500px;text-align:center;display:inline-block;
}
input .src{
    padding:9px 10px 9px 32px;
    outline:none;
    font-size:18px;
    border-radius:15px;
    color:#444;
    border:3px solid #a50559;

    width:60px;
    transition:all .5s;

}
input.src:hover{
    width:180px;
    background-color:#fff;
    border-color:#8c10b3;
    box-shadow:0 0 5px #6dcff680;
}
.linea{
    border-top:5px solid #0077c0;
}
.contenedor-imagenes{
    display:flex;
    width:85%;
    margin:auto;
    justify-content:space-around;
    flex-wrap:wrap;
    border-radius:3px;

}
.contenedor-imagenes .imagen{
    width:32%;
    position:relative;
    height: 250px;
    margin-bottom:5px;
    box-shadow:0px 0px 3px 0px rgba(0,0,0,.75);
}
.imagen{
    margin-top:190px;
}
.imagen img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    margin-left:70px;
}
.btncar{
    float:right;width:80px;position:fixed;margin-left:1250px;
    z-index: 1;
}
.fa-bag-shopping{

    height:70px;width:70px;
}
.centrado{
    position:absolute;
    top: 48px;
    right: 25px;
    font-size: 25px;
    transform: translate(-50%, -50%);
    color:#111;
    background-color: #fff;
    z-index: 1;
}
@media (max-width:600px){
    .galeria h1{
        text-align:center;
        margin-right: 30px;

    }
    .galeria .box{
        margin-left:5px;
        margin-bottom:30px;
        top:50%;
        left:50%;
        /*size: 10%;*/

    }
    .text-search{
        width:370px;text-align:center;display:inline-block;
    }
    input .src{
        padding:9px 10px 9px 32px;
        outline:none;
        font-size:18px;
        border-radius:15px;
        color:#444;
        border:3px solid #a50559;

        width:60px;
        transition:all .5s;

    }
    input.src:hover{
        width:180px;
        background-color:#fff;
        border-color:#8c10b3;
        box-shadow:0 0 5px #6dcff680;
    }
    .linea{
        border-top:5px solid #0077c0;
    }

    .contenedor-imagenes .imagen{
        width:100%;
        position:relative;
        display: block;
        height: 250px;
        margin-bottom:5px;
        box-shadow:0px 0px 3px 0px rgba(0,0,0,.75);
    }

    .img-down img{
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
    .btncar{
        /*

        */
        right:10px;
        float:right;width:45px;position:fixed;margin-left:500px;
    }
    .fa-bag-shopping{
        height:40px;width:40px;
    }
    .centrado{
        position:absolute;
        top: 26px;
        right: 12px;
        font-size: 16px;
        transform: translate(-50%, -50%);

    }

}
.download {
    background: #66615B;
    min-height: 100px;;
    padding: 2rem;
}
.download p{
    color:#f3f3f3;
    text-align:center;

}
#icons  i {
    font-size: 40px;
    padding: 0 8px;
    color:#f3f3f3;
}
.f-container{
}

.img-down {
    margin: auto;
}
.img-fix {
    justify-content: center;
    margin: auto;
}

#icons {
    margin: auto;
}