
/* SECTION CTA PACIENTES*/

.container2{
    width: 70%;
    margin: auto;
}
.CTA_Pacientes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0;
}
.CTA_Pacientes__image{
    min-width: 400px;
    width: 500px;
    max-width: 600px;
}
.CTA_Pacientes__text{
    display: flex;
    flex-direction: column;
}
.CTA_Pacientes__text__title{
    font-size: 2.7rem;
    margin: 0;
}
.btn{
    margin: 1rem auto;
    background-color: #66615B;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    text-align: center;
    width: 100px;
}
@media only screen and (max-width: 500px){

    .CTA_Pacientes{
        flex-direction: column-reverse;
        align-items: center;
    }
    .CTA_Pacientes__image{
        width: 100%;
    }
    .CTA_Pacientes__text {
        text-align: center;
    }
    .container2{
        width: 90%;
    }


}



